version: 2

jobs:
  boost=1.64:
    docker:
      - image: circleci/buildpack-deps:16.04
    steps:
      - run: sudo apt-get update && sudo apt-get install freeglut3-dev
      - checkout
      - run: source ci_support/setup_conda.sh
      - save_cache:
          key: mini-eman-deps-17.0-{{ .Environment.CIRCLE_JOB }}-1
          paths:
            - ~/miniconda3

  boost=1.65:
    docker:
      - image: circleci/buildpack-deps:16.04
    steps:
      - checkout
      - run: source ci_support/setup_conda.sh
      - save_cache:
          key: mini-eman-deps-17.0-{{ .Environment.CIRCLE_JOB }}-1
          paths:
            - ~/miniconda3

  boost=1.66:
    docker:
      - image: circleci/buildpack-deps:16.04
    steps:
      - checkout
      - run: source ci_support/setup_conda.sh
      - save_cache:
          key: mini-eman-deps-17.0-{{ .Environment.CIRCLE_JOB }}-1
          paths:
            - ~/miniconda3

  boost=1.67:
    docker:
      - image: circleci/buildpack-deps:16.04
    steps:
      - checkout
      - run: source ci_support/setup_conda.sh
      - save_cache:
          key: mini-eman-deps-17.0-{{ .Environment.CIRCLE_JOB }}-1
          paths:
            - ~/miniconda3

  boost=1.68:
    docker:
      - image: circleci/buildpack-deps:16.04
    steps:
      - checkout
      - run: source ci_support/setup_conda.sh
      - save_cache:
          key: mini-eman-deps-17.0-{{ .Environment.CIRCLE_JOB }}-1
          paths:
            - ~/miniconda3

  boost=1.69:
    docker:
      - image: circleci/buildpack-deps:16.04
    steps:
      - checkout
      - run: source ci_support/setup_conda.sh
      - save_cache:
          key: mini-eman-deps-17.0-{{ .Environment.CIRCLE_JOB }}-1
          paths:
            - ~/miniconda3

  boost=1.70:
    docker:
      - image: circleci/buildpack-deps:16.04
    steps:
      - checkout
      - run: source ci_support/setup_conda.sh
      - save_cache:
          key: mini-eman-deps-17.0-{{ .Environment.CIRCLE_JOB }}-1
          paths:
            - ~/miniconda3


workflows:
  version: 2
  setup_cache_boost:
    jobs:
      - boost=1.64
      - boost=1.65
      - boost=1.66
      - boost=1.67
      - boost=1.68
      - boost=1.69
